body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,hr {
    margin: 0; padding: 0;
}

body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,p,blockquote,th,td {
    font-size:14px;
    line-height:22px;
    font-family: helvetica,arial,sans-serif;
}

hr {
    margin-top: 22px;
}

p,li,h1,h2,h3,h4,h5,h6 {
    margin-left: 22px;
    margin-right: 22px;
}

ul {
    list-style-position: inside;
}

h1,h2 {
    font-size: 24px;
    line-height: 44px;
    margin-top: 22px;
}

h3,h4 {
    font-size: 18px;
    line-height:22px;
    margin-top: 22px;
}

h5,h6 {
    font-size: 12px;
    line-height: 22px;
    font-weight: medium;
}

h1,h2,h3,h4,h5,h6 {
    font-family: times,serif;
    text-shadow: 0 0 1px black, 0 0 14px #c52;
}

body {
    background: #000000 url(comanche.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: serif;
    opacity: 0.85;
}
a { color: #ffff99; text-decoration: none; }

/* alongsideDiv: http://rev22.github.com/alongsideDiv */

.alongsideCnt {
  vertical-align:  top;
  text-align:      center;
}
.alongside {
  max-width:       33em;
  display:         inline-block;
  vertical-align:  top;
  padding:         1em;
  overflow:        hidden;
}
.alongside:hover {
  overflow: auto;
}
.alongside > * {
  vertical-align: baseline;
}
ul { text-align:left; }